@tailwind base;
@tailwind components;
@tailwind utilities;

/* Efecto CRT */
:root { --crt-glow: 0 0 8px rgba(0,255,170,.35); }
.crt { position: relative; text-shadow: var(--crt-glow); }
.crt::after{
  content:""; position:absolute; inset:0;
  background:repeating-linear-gradient(to bottom, rgba(0,0,0,.15) 0 2px, transparent 2px 4px);
  pointer-events:none; mix-blend-mode:multiply;
}
.crt-flicker{ animation:flicker 2.5s steps(60) infinite; }
@keyframes flicker { 0%,100%{opacity:1} 50%{opacity:.97} }
